{%extends 'frontend/base/index.html'%}
{%load static%}
{%block css%}
<style>
    .gallery-icon {
    position: relative; /* Bu, içerisindeki mutlak konumlandırılmış öğeler için referans olacaktır */
}

.image-text {
    position: absolute; /* Bu sayede resmin üzerine yerleştirilebilir */
    bottom: 0; /* Resmin altına hizalanacak */
    left: 0;
    width: 100%; /* Genişliği resimle aynı olacak */
    background-color: rgba(255, 255, 255, 0.5);
    color: black; 
    padding: 5px 10px; /* Yazının etrafında biraz boşluk */
    text-align: center; /* Yazıyı ortala */
    font-weight: bold;
    height: 50px;
    line-height: 50px;
}
@media (max-width: 768px) { /* Örnek olarak 768px kullandım. Bu değeri ihtiyacınıza göre değiştirebilirsiniz. */
    .gallery-item {
        width: 100% !important; /* Kutunun genişliğini tam ekran yap */
        margin: 10px 0; /* Aralarında biraz boşluk bırak */
    }
}
</style>
{%endblock css%}
{%block title%} <title>QuizVar</title> {%endblock title%}

{%block menu%} {%include 'frontend/base/inc/menu.html'%} {%endblock menu%}


{%block main%}

<div class="cloud_wrapper">
    <canvas class="white_cloud"></canvas>
</div>
<div id="main" class="site-main">
    <div class="page_content">
        <main>
            <div class='grid_row clearfix' style='padding-top: 0px;'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4930971127953627"
     crossorigin="anonymous"></script>
<!-- sonuç sınıflar -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-4930971127953627"
     data-ad-slot="3513959399"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class='grid_row clearfix' style='padding-top: 0px;'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <h3 class="ce_title" style="text-align: center;"><span >Sınıf Seçin</span></h3>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <div id='gallery-1' class='gallery galleryid-2288 gallery-columns-3 gallery-size-large'>
                                
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/2-snf/sonuclanmis-testler"></a>
                                        <img width="1024" height="1024" src="/medya_dosyalari/8_L8FLHFR.png" class="attachment-large" alt="portfolio_4" />
                                       </div>
                                </div>
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/3-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/9.png" class="attachment-large" alt="portfolio_5" />
                                    </a>  </div>
                                </div>
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/4-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/10.png" class="attachment-large" alt="portfolio_3" />
                                    </a>  </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4930971127953627"
                            crossorigin="anonymous"></script>
                       <!-- sonuc sınıflar 4 -->
                       <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-4930971127953627"
                            data-ad-slot="2890857451"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>
                       <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                       </script>
                        </div>
                    </div>
                </div>
            </div>
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <div id='gallery-1' class='gallery galleryid-2288 gallery-columns-3 gallery-size-large'>
                                <!-- gallery item -->
                              
                                <!-- / galery item -->
                                <!-- galery item -->
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/5-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/11.png" class="attachment-large" alt="portfolio_4" />
                                    </a> 
                                   
                                 </div>
                                </div>
                                <!-- / galery item -->
                                <!-- galery item -->
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/6-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/12.png" class="attachment-large" alt="portfolio_5" />
                                    </a>  </div>
                                </div>
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/7-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/13.png" class="attachment-large" alt="portfolio_3" />
                                    </a> 
                                </div>
                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4930971127953627"
                            crossorigin="anonymous"></script>
                       <!-- sonuç sınıflar 3 -->
                       <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-4930971127953627"
                            data-ad-slot="8574714385"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>
                       <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                       </script>
                            
                        </div>
                    </div>
                </div>
            </div>
            
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            <div id='gallery-1' class='gallery galleryid-2288 gallery-columns-3 gallery-size-large'>
                                <!-- gallery item -->
                               
                                <!-- / galery item -->
                                <!-- galery item -->
                                <div class='gallery-item'>
                                    <div class='gallery-icon landscape'>
                                        <a href="/ilkokul/8-snf/sonuclanmis-testler">
                                        <img width="1024" height="1024" src="/medya_dosyalari/14.png" class="attachment-large" alt="portfolio_4" />
                                        </a>
                                    </div>
                                </div>
                               

                              
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='grid_row clearfix'>
                <div class='grid_col grid_col_12'>
                    <div class='ce clearfix'>
                        <div>
                            
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4930971127953627"
                            crossorigin="anonymous"></script>
                       <!-- sonuc sınıflar 2 -->
                       <ins class="adsbygoogle"
                            style="display:block"
                            data-ad-client="ca-pub-4930971127953627"
                            data-ad-slot="1769347473"
                            data-ad-format="auto"
                            data-full-width-responsive="true"></ins>
                       <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                       </script>
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- / gallery section -->
            <!-- section -->
            
        </main>
        <!-- pettaren container / -->
        <div class='right-pattern pattern pattern-2'></div>
        <!-- footer image container / -->
        <div class="footer_image"></div>
    </div>
    <!-- svg filter -->
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="0" style='display:none;'>
        <defs>
            <filter id="goo">
                <feGaussianBlur in="SourceGraphic" stdDeviation="6" result="blur" />
                <feColorMatrix in="blur" type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 19 -9" result="goo" />
                <feComposite in="SourceGraphic" in2="goo" operator="atop" />
            </filter>
        </defs>
    </svg>
    <!-- / svg filter -->
</div>
{%endblock main%}

{%block js%}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var yonlendirmeLinkleri = document.querySelectorAll('.yonlendirmeLinki');
    var closeModalBtn = document.getElementById('closeModal');
    var adModal = document.getElementById('adModal');
    var lastClickedLink = null;  // Tıklanan son linki kaydetmek için bir değişken

    yonlendirmeLinkleri.forEach(function(link) {
        link.addEventListener('click', function(event) {
            event.preventDefault();  // Linkin varsayılan davranışını (yönlendirmeyi) engelle
            adModal.style.display = 'block';
            lastClickedLink = event.target;  // Tıklanan linki kaydedin
            var actualLink = event.target.closest('.yonlendirmeLinki');
            lastClickedLink = actualLink;
        });
    });

    closeModalBtn.addEventListener('click', function() {
        adModal.style.display = 'none';
        if (lastClickedLink) {
            window.location.href = lastClickedLink.getAttribute('href');  // Tıklanan linkin href özelliğini al ve yönlendirme yap
        }
    });
});
    
     
         </script>
{%endblock js%}